# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
myenv/
.venv/
.env/

# IDEs
.vscode/
.idea/

# Logs and databases
*.log
*.sqlite
.db

# Compiled Python files
*.pyc

# Environment variables file
.env

